# required in tm2py but not in OpenPaths
toml # used in config.py to load config files. alternative is json
tomlkit # used in run_county_test.py to update config files preserving comments
pydantic < 2.0 # used in config.py to validate config files. alternative?
requests # logger.py, used to post msg to slack about model run; also a deep dependency of the documentation libs. alternative?
scipy # transit_network.py, using scipy non-negative least squares solver. alternative?
openpyxl # used in network_summary.py to generate Excel output files
pandera # used in maz landuse data model
pyarrow # used in post_processor.py for parquet file support