geojson
geographiclib
geopandas > 0.8.0
fiona
folium
fontawesome_markdown
jsonschema
jupyter
lark-parser
mkdocs
mkdocs-autorefs
mkdocs-awesome-pages-plugin
mkdocs-macros-plugin
mkdocs-material
mkdocstrings
pydantic
typing_extensions
openmatrix
osmnx >= 0.12
mike
notebook
numpy
pandas > 1.0
pydantic
pyproj > 2.2.0 
pyyaml
pywin32==224 ; sys_platform == 'win32'
rtree
shapely
tables
toml
