# Core documentation requirements without GDAL-triggering features
mkdocs>=1.4.0
mkdocs-material>=9.0.0
mkdocs-mermaid2-plugin>=0.6.0

# Can likely add back safely now that watch directive is removed:
# mkdocs-awesome-pages-plugin
# markdown == 3.3.1  
# mike
# mkdocs-autorefs  
# mkdocs-jupyter
# mkdocs-macros-plugin
# mkdocstrings
# mkdocstrings-python
